################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tts-api/appsettings.json
/tts-api/appsettings.json
